<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SumoUserId" value="suorAn1ohdKHXF" />
    <add key="SumoUserKey" value="HaaE1KHVufKHXr3Qcj4gujPLhPkPieSg6lhavSWGqqVKh6hwGtvTY3wDoWptcWOC" />
    <add key="LogTTL" value="30" />
    <add key="ElkURL" value="https://elasticsearch-qts.fdr.pitneycloud.com/" />
    <add key="Index" value="logs-*" />
    <add key="ApiKeyId" value="Y934NI8Bij1blw_KSabj"/>
    <add key="ApiKey" value="VlJGlfdFRl6r9JRunGq4Lw"/>
    <!-- Configuration for Kafka-->
    <add key="Kafka_Topic" value="fdr-facility-sand-parcel" />
    <add key="Kafka_bootstrapServers" value="b-3.kafka-usea1-dev.i8gspf.c5.kafka.us-east-1.amazonaws.com:9092,b-4.kafka-usea1-dev.i8gspf.c5.kafka.us-east-1.amazonaws.com:9092,b-2.kafka-usea1-dev.i8gspf.c5.kafka.us-east-1.amazonaws.com:9092" />
    <add key="Kafka_autoOffsetReset" value="Latest" />
    <add key="Kafka_maxRetryAttempts" value="100000" />
    <add key="Kafka_waitTime" value="100" />
    <add key="Kafka_enableAutoCommit" value="false" />
    <add key="Kafka_ClientId" value="KafkaRepublishUtility" />
    <add key="Kafka_MessageTimeoutMs" value="120000" />
    <add key="Kafka_EnableIdempotence" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
