<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="NgsCoreConnectionString" connectionString="Data Source=supftdb1;MultipleActiveResultSets=True;Initial Catalog=NgsCore;User ID=ngscore;Password=ngscore" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="NGSCore_ConnectionStringName" value="NgsCoreConnectionString" />
    <add key="DbTimeout" value="10000" />
    <add key="UseSeriLog" value="false" />
    <!-- Configuration for Kafka-->
    <add key="Kafka_Topic" value="fdr-facility-sand-parcel" />
    <add key="Kafka_bootstrapServers" value="b-3.kafka-usea1-dev.i8gspf.c5.kafka.us-east-1.amazonaws.com:9092,b-4.kafka-usea1-dev.i8gspf.c5.kafka.us-east-1.amazonaws.com:9092,b-2.kafka-usea1-dev.i8gspf.c5.kafka.us-east-1.amazonaws.com:9092" />
    <add key="Kafka_autoOffsetReset" value="Latest" />
    <add key="Kafka_maxRetryAttempts" value="3" />
    <add key="Kafka_waitTime" value="100" />
    <add key="Kafka_enableAutoCommit" value="false" />
    <add key="Kafka_PublishEnabled" value="false" />
    <add key="Kafka_ClientId" value="IntellicoreService" />
    <add key="Kafka_MessageTimeoutMs" value="1000" />
    <add key="Kafka_EnableIdempotence" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
